

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  justify-content: center;
}

h2 {
    margin-bottom: 10px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendedSongsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.recommendedSongsVideoContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.rSong {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced, with the video at the bottom */
    padding: 0px 0px 2px 10px;
    box-sizing: border-box;

}

.recommendedSong0 {
    margin: 30px 10px 10px 10px;
    width: 25%;
    box-shadow:  0px 0px 10px 4px #989690;   
}

.recommendedSong1 {
    margin: 0px 10px 10px 10px;
    width: 25%;
    box-shadow: 0px 0px 10px 4px #EFC75E;   
}

.recommendedSong2 { 
    margin: 60px 10px 10px 10px;
    width: 25%;
    box-shadow: 0px 0px 10px 4px #ED9D5D;   

}

.recommendedSongVideo {
    display: flex;
    justify-content: center; /* Centers the video horizontally */
    align-items: center;
}

.medalIcon {
    position: relative;
    width: 40px;
    height: 40px;
    left: 45%;
}

.songTitle {
    margin: 0px;
    border-bottom:2px solid #52728f;
}

.themesList {
    position: relative;
    margin: 5px 0px 0px 0px;
    height: 200px;
    width: auto;
    overflow-y: hidden; /* Hide scrollbars by default */
    transition: overflow-y 0.3s ease; /* Smooth transition for scrollbar visibility */
}

.themesList:hover {
    overflow-y: scroll; /* Show scrollbars on hover */
}

/* Customize the scrollbar */
.themesList::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
}

.themesList::-webkit-scrollbar-thumb {
    background-color: #9899b0; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.themesList::-webkit-scrollbar-thumb:hover {
    background-color: #646cff; /* Change color on hover */
}

.themesList::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.themesListItem {
    width: 95%;
}

.findMeASong {
    margin-top: 10px;
}

.findMeASongThemes {
    margin-bottom: 10px;
}

.buttonToggleContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-items: center;
    width: 100%;
}

.buttonToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cbcced;
    border-radius: 6px;
    width: 175px;

}

.buttonToggleLabel {
    margin-left: 5px;
}

.submitButton {
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    background-color: #dddeff;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 2px solid #cbcced;


}

button:hover {
    background-color: #9899b0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

